table {
    margin-left: 30%;
    padding: 10px;
    text-align: center;
    border: 1px black;
    background-color: lightslategray;
    width: 40%;
    
}

body {
    text-align: center;
    color: white;
    background-image: url('qt9wpg5x.jpg');
}
