.div1 {
    border: 6px outset #FF0099;
    background-color: #E64A19; 
    text-align: center;
}
table {
    width: 70%;
    font-size: 15px;
    text-align: left;
}
body {
    text-align: center;
    color: white;
}