<html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="10">
        <link rel="stylesheet" type="text/css" href="generator.css">
        <title>Generator loginu i hasła</title>
    </head>
    <body>
        <div class="div1"><h1>Generator loginu i hasła</h1></div>
        <table>
            <tr>
                <th>Wygenerowany login:</th>
                <td><div>{{login}}</div></td>
            </tr>
            <tr>
                <th>Wygenerowane hasło:</th>
                <td><div>{{password}}</div></td>
            </tr>
        </table>
        <li><a href="../index.html">Powrót do stront głównej</a></li>
    </body>
</html>